# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver: pdo_sqlsrv
    database_type: sqlserver
    database_host: 127.0.0.1
    database_port: 1433
    database_name: PORTAL.MITOCHA
    database_user: sa
    database_password: 'sa123**'
    mailer_transport: gmail
    mailer_host: null
    mailer_user: portal.fuentedelnorte.gt@gmail.com
    mailer_password: 'system2050**'
    locale: es
    secret: 376d145e2d88f3ee4d6adcd29ffc5875
    debug_toolbar: true
    debug_redirects: false
    use_assetic_controller: true
    version: 1
    days_credentials_expire: 60
    compra_en_linea: true
    recaptcha_public_key: 6LeyvpQUAAAAAC9J69AfwyiyHvzf7ZZKaah2ECBc
    recaptcha_private_key: 6LeyvpQUAAAAAGSFPIXqVDJHeP7XLj-NyQYLHFln
    message_mailers: 'tito_1622@hotmail.com,mendozamilton@hotmail.es,comprasmayadeoro@gmail.com,sistemasfdn@gmail.com'
    facebook_client_id : 1583049668628122
    facebook_client_secret : 4b410473a24fbca80c84b2c10168a575
    facebook_scope : email,basic_info,publish_actions
    facebook_page_url : https://www.facebook.com/pages/MAYA-De-ORO-Starbus/476563142378664?fref=ts
    twitter_client_id : YSbEsDcv38vij4oETKXg0tj2C
    twitter_client_secret : cO7CRrABQxbgWt77bpuPEU28Uvg6YFC6pA9cFQQJBIpJoH8wEm
    google_client_id : 826144516210-54u8sr1q9uejbk2pvjs95vlatnfjsn76.apps.googleusercontent.com
    google_client_secret : EFYDZyXKoNmIjP7xgPgu051m
    id_empresa_app: 1
    nombre_empresa_app: 'Autobuses Maya de Oro.'
    telefono_empresa_app: '(502)24710952, (502)24710953'
    url_empresa_app: 'http://186.151.195.26/'
    direccion_empresa_app: 'Calzada Aguilar Batres 7-55. Zona 12'
    internal_sys_url : 'https://autobusesfuentedelnorte.com/'
    internal_sys_pref : 'internal/integrations/portal/test/'
    internal_sys_clave_interna : 'pf12 2,21-32kdz9¡-3(r)=dftenfrsadw3d8dk'
    pasarela_init_url : 'http://186.151.195.26/pasarela/page.html'
    pasarela_success_url : 'http://186.151.195.26/pasarela/success.html'
    pasarela_failed_url : 'http://186.151.195.26/pasarela/failed.html'